# IDE files
.project
.cproject
Debug
Release

# Compilation process temp files
*.o
.deps
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
fizz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
